{% extends "LayoutBundle::layout.html.twig" %}
{% block main %}
{% block slider %}{% endblock %}

<section id="cart_items">
	<div class="container">
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td class="image">Item</td>
						<td class="description"></td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="cart_product">
							<a href=""><img src="{{asset('ecommerce/images/cart/one.png')}}" alt=""></a>
						</td>
						<td class="cart_description">
							<h4><a href="">Colorblock Scuba</a></h4>
						</td>
						<td class="cart_price">
							<p>Rp.10.000</p>
						</td>
						<td>
							<input type="number" value="1" />
						</td>
						<td class="cart_total">
							<p class="cart_total_price">Rp.10.000</p>
						</td>
						<td class="cart_delete">
							<a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
						</td>
					</tr>

					
					<tr>
						<td></td>
						<td colspan="3">
	                        <div class="pull-left">
	                            <a href="{{url('layout_homepage')}}" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Continue shopping</a>
	                        </div>
                        </td>
                    	<td colspan="2">
	                            <button type="submit" class="btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i>
	                            </button>
                        </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->
{% endblock main %}