{% extends "::base.html.twig" %}

{% block body %}
	{% for entity in entity %}
	    <h2>{{entity.id}}</h2>
	    <h2>{{entity.productName}}</h2>
	    <h2>{{entity.productPrice}}</h2>
	{% endfor %}
{% endblock %}
